apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "matomo.fullname" . }}-config-php
  labels:
{{ include "matomo.labels" . | indent 4 }}
data:
  config.php: |
    <?php

      return array(

        'TagManagerContainerStorageDir' => function () {
          // the location where we store the generated javascript or json container files
          return '/js-containers';
        },
      );
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "matomo.fullname" . }}-php-fpm-config
  labels:
{{ include "matomo.labels" . | indent 4 }}
data:
  www.conf: |
    [global]
    pid = /var/run/php-fpm/php-fpm.pid
    daemonize = no
    error_log = /proc/self/fd/2

    [www]
    listen = /var/run/php-fpm/php-fpm.sock
    access.log = /dev/null

    pm = dynamic
    pm.max_children = 4
    pm.start_servers = 1
    pm.min_spare_servers = 1
    pm.max_spare_servers = 3
    request_terminate_timeout = 0
    clear_env = yes

    ping.path = /ping
    ping.response = pong

    ; environment variables
    env[PATH] = $PATH
    env[MATOMO_PLUGIN_DIRS] = "/var/www/matomo/data-plugins/;data-plugins"
    env[MATOMO_PLUGIN_COPY_DIR] = "/var/www/matomo/data-plugins/"

    ; php settings
    php_admin_value[post_max_size] = 16M
    php_admin_value[upload_max_filesize] = 16M
    php_admin_value[max_execution_time] = 10800
    php_admin_value[max_input_time] = 3600
    php_admin_value[expose_php] = Off
    php_admin_value[memory_limit] = 256M
    php_admin_value[session.save_path] = /data/session
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "matomo.fullname" . }}-php-ini-config
  labels:
{{ include "matomo.labels" . | indent 4 }}
data:
  php.ini: |
    [PHP]
    engine = On
    short_open_tag = Off
    precision = 14
    output_buffering = 4096
    zlib.output_compression = Off
    implicit_flush = Off
    unserialize_callback_func =
    serialize_precision = -1
    disable_functions =
    disable_classes =
    zend.enable_gc = On
    zend.exception_ignore_args = On
    zend.exception_string_param_max_len = 0
    expose_php = On
    max_execution_time = 30
    max_input_time = 60
    memory_limit = 256M
    error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT
    display_errors = Off
    display_startup_errors = Off
    log_errors = On
    ignore_repeated_errors = Off
    ignore_repeated_source = Off
    report_memleaks = On
    variables_order = "GPCS"
    request_order = "GP"
    register_argc_argv = Off
    auto_globals_jit = On
    post_max_size = 8M
    auto_prepend_file =
    auto_append_file =
    default_mimetype = "text/html"
    default_charset = "UTF-8"
    include_path = ".:/usr/share/php83"
    doc_root =
    user_dir =
    enable_dl = Off
    file_uploads = On
    upload_max_filesize = 2M
    max_file_uploads = 20
    allow_url_fopen = On
    allow_url_include = Off
    default_socket_timeout = 60

    [CLI Server]
    cli_server.color = On
    
    [Date]
    date.timezone = UTC

    [Pdo_mysql]
    pdo_mysql.default_socket=

    [mail function]
    SMTP = localhost
    smtp_port = 25
    mail.add_x_header = Off
    mail.mixed_lf_and_crlf = Off

    [ODBC]
    odbc.allow_persistent = On
    odbc.check_persistent = On
    odbc.max_persistent = -1
    odbc.max_links = -1
    odbc.defaultlrl = 4096
    odbc.defaultbinmode = 1

    [MySQLi]
    mysqli.max_persistent = -1
    mysqli.allow_persistent = On
    mysqli.max_links = -1
    mysqli.default_port = 3306
    mysqli.default_socket =
    mysqli.default_host =
    mysqli.default_user =
    mysqli.default_pw =

    [mysqlnd]
    mysqlnd.collect_statistics = On
    mysqlnd.collect_memory_statistics = Off

    [PostgreSQL]
    pgsql.allow_persistent = On
    pgsql.auto_reset_persistent = Off
    pgsql.max_persistent = -1
    pgsql.max_links = -1
    pgsql.ignore_notice = 0
    pgsql.log_notice = 0

    [bcmath]
    bcmath.scale = 0

    [Session]
    session.save_handler = files
    session.use_strict_mode = 0
    session.use_cookies = 1
    session.use_only_cookies = 1
    session.name = PHPSESSID
    session.auto_start = 0
    session.cookie_lifetime = 0
    session.cookie_path = /
    session.cookie_domain =
    session.cookie_httponly =
    session.cookie_samesite =
    session.serialize_handler = php
    session.gc_probability = 1
    session.gc_divisor = 1000
    session.gc_maxlifetime = 1440
    session.referer_check =
    session.cache_limiter = nocache
    session.cache_expire = 180
    session.use_trans_sid = 0
    session.sid_length = 26
    session.trans_sid_tags = "a=href,area=href,frame=src,form="
    session.sid_bits_per_character = 5

    [Assertion]
    zend.assertions = -1

    [Tidy]
    tidy.clean_output = Off

    [soap]
    soap.wsdl_cache_enabled=1
    soap.wsdl_cache_dir="/tmp"
    soap.wsdl_cache_ttl=86400
    soap.wsdl_cache_limit = 5

    [ldap]
    ldap.max_links = -1

    [General]
    assume_secure_protocol = 1 # 0=http 1=https
    proxy_client_headers[] = HTTP_X_FORWARDED_FOR
    proxy_client_headers[] = HTTP_X_REAL_IP
    proxy_host_headers[] = HTTP_X_FORWARDED_HOST